body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

header {
    background: #ff5722;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main { padding: 15px; }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.img {
    width: 100%;
    height: 120px;
    background: #cccccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn {
    display: block;
    margin-top: 10px;
    background: #ff5722;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.cart-item {
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.produto-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}